.info-table {
    min-width: 350px !important;
    width: auto !important;
    margin: 2rem auto;
    border-collapse: collapse;
    background: #fff8;
}

.info-table tr td {
    padding: 0.25em 0.5em;
}

.info-table tr td:first-child {
    background: #0893;
}